### kicad ###
*.bak
*.bck
*.kicad_pcb-bak
*.svg


### Linux ###
*~

# KDE directory preferences
.directory


### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### pdfTex ###
texput.log
build/*
misc/*.pdf
img/*.pdf
